#.env
# Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_base_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DATABASE_URL=postgresql://USUARIO:CONTRASEÑA@localhost:5432/NOMBRE_BASE_DATOS

# JWT
JWT_SECRET=coloca_un_jwt_secret_seguro
JWT_EXPIRES_IN=7d

# App
NODE_ENV=development
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_APP_NAME=LlevaloPe