# Base de Datos
DATABASE_URL=postgresql://USUARIO:CONTRASEÑA@localhost:5432/NOMBRE_BASE_DATOS

# JWT
JWT_SECRET=coloca_un_jwt_secret_seguro
JWT_EXPIRES_IN=7d

# Servidor
PORT=3001
NODE_ENV=development

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret

# Correo SMTP
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=tu_usuario_smtp
MAIL_PASSWORD=tu_password_smtp
MAIL_FROM="LlevaloPe <noreply@ejemplo.com>"